.wrapper {
  position: relative;
  min-height: 300px;
  .actions {
    button {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: red;
      height: 30px;
      width: 100px;
      font-size: 16px;
      color: #fff;
      border: none;
      outline: none;
    }
  }
}
